body{
    background-color:blue;
}
nav{
    text-transform: uppercase; 
    font-family: PT Sans Narrow
}
.nav-link{
    opacity:0.7;
}
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
header{
    height: 600px;
    width: 100%;
    background-image: url("harold.jpg");
    background-size:cover;
}